#This file has an example of the lines you need to add o your crontab
# m h  dom mon dow   command
0,30 9,11,13,15 * * 1,2,3,4,5 /home/usename/bin/gnucashstockupdate /home/username/path_to/Accounts.gnucash  >> /home/username/path_to/PriceUpdate.log 2>&1
